{% extends 'main/index.html' %}
{% block head %}
    <title>GPA</title>
{% endblock head %}

{% block body %}
<div class="container mb-4">
    <div class="jumbotron">
        <p>
            Hey there🦾, Calculate your GPA for the current Semester
        </p>
    </div>
</div>
<div class="container">
    <h1>GPA calculator</h1>
    <p class="text-muted">
        How many courses are you offering this semester?
    </p>
</div>
<div class="container">
  <form action="" method="post">
    {% csrf_token %}
    <label for="num_courses" class="form-label">Number of courses:</label>
    <input type="number" name="num_courses" id="num_courses" />
    <input type="submit" value="Submit" class="btn btn-success">
  </form>
</div>
{% endblock body %}
{% block footer %}
<footer class="bg-dark text-white text-center py-3 fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>GPA Calculator &copy; <span id="currentYear"></span> All Rights Reserved.</p>
          <b>11011</b>
        </div>
      </div>
    </div>
  </footer>
  <script>
    var currentDate = new Date();
    var currentYear = currentDate.getFullYear();
    document.getElementById("currentYear").innerHTML = currentYear;
  </script>  
{% endblock footer %}